body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background: #4CAF50; /* Use the brand color */
    color: #fff;
}

nav {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50; /* Section title color */
}

ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    background-color: #f8f8f8; /* Consistent footer color */
    padding: 20px;
    text-align: center;
}

footer .footer-content ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-content ul li {
    display: inline;
    margin: 0 10px;
}

footer .footer-content .social-media a {
    margin: 0 10px;
}

footer .footer-content form {
    margin-top: 10px;
}

body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

.navbar-dark {
    background-color: #343a40; /* Dark navbar background */
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Light navbar text */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e7e7e7; /* Light hover effect */
}
